<%- include('../layout/adminHeader') %>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Best Products</h2>
                <p>Top 10 Best-Selling Products</p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="text-center">
                            <tr>
                                <th>No</th>
                                <th>Product Name</th>
                                <th>Sold Quantity</th>
                                <th>Price</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <% for(let i=0; i < topSellingProducts.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= i + 1 %>
                                    </td>
                                    <td><b>
                                            <%= topSellingProducts[i].title %>
                                        </b></td>
                                    <td>
                                        <%= topSellingProducts[i].totalSold %>
                                    </td>
                                    <td>
                                        <%= topSellingProducts[i].price %>
                                    </td>
                                    <td>
                                        <%= topSellingProducts[i].isBlock ? 'Inactive' : 'Active' %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <%- include('../layout/adminFooter') %>